In [1]:
# 산술 연산자

In [1]:
num1 = 10
num2 = 2

print(num1 / num2) # 나눈 값
print(num1 // num2) # 몫
print(num1 % num2) # 나머지

5.0
5
0

In [5]:
round(num1 / num2, 2) # 소숫점 2째 자리 까지 (반올림)

1.43

In [8]:
# 문자열 덧셈

str1 = '전'
str2 = '형준'

print(str1,str2) # 아웃풋 : 전 형준 (공간이 생김)
print(str1+str2) # 아웃풋 : 전형준 (공간 삭제 됨)

전 형준
전형준

In [10]:
str1 = '10'
str2 = '7'

print(str1+str2)

107

In [17]:
# 숫자와 문자열의 덧셈

num1 = 10
str2 = '7'

print(num1 + str2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [19]:
# 숫자끼리 더하기

num1 + int(str2) # str2를 정수형으로 변환

17

In [21]:
str2

'7'

In [22]:
# 문자끼리 더하기
str(num1) + str2

'107'

In [35]:
# input을 사용해서 사용자에게서 값을 입력 받음

num1 = input('첫번째 수 입력 : ')
num2 = input('첫번째 수 입력 : ')

print('더하기 결과 : ' , int(num1)+int(num2))
print('빼기 결과 : ' , int(num1)-int(num2))
print('곱하기 결과 : ', int(num1)*int(num2))
print('나누기 결과 : ',int(num1)/int(num2))

첫번째 수 입력 :  10
첫번째 수 입력 :  5

더하기 결과 :  15
빼기 결과 :  5
곱하기 결과 :  50
나누기 결과 :  2.0

In [39]:
num1 = input('첫번째 수 입력 : ')
num2 = input('첫번째 수 입력 : ')

plus = int(num1)+int(num2)
minus = int(num1)-int(num2)
times = int(num1)*int(num2)
divide = int(num1)/int(num2)

print('더하기 결과 : ' , {plus} , '\t 빼기 결과 : ' , {minus} , '곱하기 결과 : ' , {times} , '나누기 결과 : ' , {divide} , )

첫번째 수 입력 :  5
첫번째 수 입력 :  5

더하기 결과 :  {10} 	 빼기 결과 :  {0} 곱하기 결과 :  {25} 나누기 결과 :  {1.0}

In [62]:
# 초를 입력받아 "00시간 00분 00초" 형태로 출력

time = int(input("시간 입력 >> "))
# 7533 초
hour = time//3600 # time을 3600으로 나눈 몫 = 2시간

# 시간으로 빠진 부분 제외, 남은 초를 계산하자
# 7533 - (3600*2) = 333초!! 60초 = 1분 333초를 60으로 나눈 몫
minute = time%3600//60  # 몫 = 5 

# 초
# (분)으로 빠진 부분도 제외, 남은 초
# 333 - (60*5) = 33초!, 333을 60으로 나눈 나머지 ->33
# 방법 1 : second = (time%3600)%60 
second = time % 60
print("{}시간 {}분 {}초".format(hour, minute, second))

시간 입력 >>  5555

1시간 32분 35초

In [67]:
# 문자열 곱하기(반복문 사용)
for i in range(5):
        print('*', end='')

*****

In [71]:
# 문자열 곱하기 (반복문 사용 x)
print('*'*5)
print('안녕 '*5)

*****
안녕 안녕 안녕 안녕 안녕

In [78]:
# 지수 연산자 
num = int(input('정수 입력 : '))
power = int(input('지수 입력 : '))
print(f'{num}의 {power}은 {num**power}입니다.')

정수 입력 :  3
지수 입력 :  4

3의 4은 81입니다.

In [80]:
#  a 변수에 저장된 값과 b 변수에 저장된 값을 바꿔보자

a = 30
b= 50

# a 값과 b의 값을 바꾸는 코드

print('a', a)
print('b',b)

a 30
b 50

In [83]:
# 비교 연산자
## - 조건식 사용시 불리언 값을 변환 (True, False)

3>5

False

In [87]:
a = 3
b = 7

print(a > b)
print(a >= b)
print(a == b) # =는 대입 연산자, ==는 비교연산자
print(a != b)

#논리연산자 not : 논리값을 뒤집음
print(not a > b)
print(not a >= b)
print(not a == b) # =는 대입 연산자, ==는 비교연산자
print(not a != b)

False
False
False
True
True
True
True
False

In [89]:
### 논리연산자 and , or
# - and : 모두 true면 true
# - or : 어느 하나라도 True면 True

True

In [91]:
5>3 and 1>3

False

In [90]:
5>3 or 1>3

True

In [92]:
###

### 상황연산자 
- 조건문의 단순화
- a if 조건식 else b

In [94]:
# 예시
java_score = int(input('자바 예상 점수 : '))

'합격' if java_score >= 60 else '불합격'
# 합격이다. 만약에 자바 점수가 60 이상이면, 그렇지 않으면 불합격이다.

자바 예상 점수 :  60

'합격'

In [105]:
a = int(input("정수입력 >>"))
b = int(input("정수입력 >>"))

print('a: ', int(a)) if a > b else print('b: ' ,int(b))

정수입력 >> 3
정수입력 >> 5

b:  5

In [ ]:
### 키보드로 정수를 입력 받아서 홀, 짝 구분하기

ans = int(input('정수 입력 >>'))

#even = int(ans%2==0)
#odd = int(ans%2==1)

print(ans, ' 는(은) 짝수입니다')if ans%2==1 else print(ans, '는(은) 홀수입니다')